Basic Subsetting in R

In [1]:
library('tidyverse')

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
df<-(read.csv(file.choose(),header=T))

##Quick look into the data

In [3]:
dim(df) #dimension of the data

[1] 303  14

In [4]:
head(df) #in py df.head()

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 male   3  145      233  1   0       150     0     2.3     0     0  1
2 male   2  130      250  0   1       187     0     3.5     0     0  2
3 female 1  130      204  0   0       172     0     1.4     2     0  2
4 male   1  120      236  0   1       178     0     0.8     2     0  2
5 female 0  120      354  0   1       163     1     0.6     2     0  2
6 male   0  140      192  0   1       148     0     0.4     1     0  1
  target age
1 1      63
2 1      37
3 1      41
4 1      56
5 1      57
6 1      57

##Subsetting in R

In [5]:
df[1:3,] #first three rows

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 male   3  145      233  1   0       150     0     2.3     0     0  1
2 male   2  130      250  0   1       187     0     3.5     0     0  2
3 female 1  130      204  0   0       172     0     1.4     2     0  2
  target age
1 1      63
2 1      37
3 1      41

In [6]:
a<-df[,10:14] #last five columns

head(a)

  slope ca thal target age
1 0     0  1    1      63
2 0     0  2    1      37
3 2     0  2    1      41
4 2     0  2    1      56
5 2     0  2    1      57
6 1     0  1    1      57

In [7]:
#combining the first three rows and last five columns
df[1:3,10:14] #remember Py starts from 0

  slope ca thal target age
1 0     0  1    1      63
2 0     0  2    1      37
3 2     0  2    1      41

In [8]:
#Slice can also be used for subsetting

slice(df,1:3)  #slice first three rows

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 male   3  145      233  1   0       150     0     2.3     0     0  1
2 male   2  130      250  0   1       187     0     3.5     0     0  2
3 female 1  130      204  0   0       172     0     1.4     2     0  2
  target age
1 1      63
2 1      37
3 1      41

In [9]:
#filter can be used also to subset rows 

#lets find male over 40

a<-filter(df,sex=='male' & age > 40)

head(a)

  sex  cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal target
1 male 3  145      233  1   0       150     0     2.3     0     0  1    1
2 male 1  120      236  0   1       178     0     0.8     2     0  2    1
3 male 0  140      192  0   1       148     0     0.4     1     0  1    1
4 male 1  120      263  0   1       173     0     0.0     2     0  3    1
5 male 2  172      199  1   1       162     0     0.5     2     0  3    1
6 male 2  150      168  0   1       174     0     1.6     2     0  2    1
  age
1 63
2 56
3 57
4 44
5 52
6 57

In [10]:
#filter can be used also to subset rows 

#lets find male or people where cholestoral is greater than the mean cholestorol

a<-filter(df,sex=='male'  | chol > mean(df$chol))

head(a)

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 male   3  145      233  1   0       150     0     2.3     0     0  1
2 male   2  130      250  0   1       187     0     3.5     0     0  2
3 male   1  120      236  0   1       178     0     0.8     2     0  2
4 female 0  120      354  0   1       163     1     0.6     2     0  2
5 male   0  140      192  0   1       148     0     0.4     1     0  1
6 female 1  140      294  0   0       153     0     1.3     1     0  2
  target age
1 1      63
2 1      37
3 1      56
4 1      57
5 1      57
6 1      56

In [11]:
#subsetting by column

a<-arrange(df,sex,cp)  #arrange works like order by a certain column

head(a)

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 female 0  120      354  0   1       163     1     0.6     2     0  2
2 female 0  130      264  0   0       143     0     0.4     1     0  2
3 female 0  138      234  0   0       160     0     0.0     2     0  2
4 female 0  128      303  0   0       159     0     0.0     2     1  2
5 female 0  138      183  0   1       182     0     1.4     2     0  2
6 female 0  124      209  0   1       163     0     0.0     2     0  2
  target age
1 1      57
2 1      53
3 1      53
4 1      57
5 1      35
6 1      62

In [12]:
a<-arrange(df,desc(age))  #arrange works like order by a certain column

head(a)

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 male   0  125      304  0   0       162     1     0.0     2     3  2
2 female 2  140      197  0   2       116     0     1.1     1     0  2
3 female 1  120      269  0   0       121     1     0.2     2     1  2
4 female 1  160      302  0   1       162     0     0.4     2     2  2
5 female 2  110      265  1   0       130     0     0.0     2     1  2
6 female 0  112      149  0   1       125     0     1.6     1     0  2
  target age
1 0      77
2 1      76
3 1      74
4 1      71
5 1      71
6 1      71

In [13]:
a<-arrange(df,desc(chol/trestbps))  #arrange by chols/trestbps ratio  

head(a)

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 female 2  115      564  0   0       160     0     1.6     1     0  3
2 female 2  102      318  0   1       160     0     0.0     2     1  2
3 female 0  134      409  0   0       150     1     1.9     1     2  3
4 male   0  110      335  0   1       143     1     3.0     1     1  3
5 male   0  100      299  0   0       125     1     0.9     1     2  2
6 female 2  140      417  1   0       157     0     0.8     2     1  2
  target age
1 1      67
2 1      60
3 0      56
4 0      57
5 0      67
6 1      65

In [14]:
df_5<-sample_frac(df,size=0.5, replace=FALSE)  #Generating 50 random rows

In [15]:
df_100<-sample_n(df,100, replace= FALSE)

In [16]:
head(df_100)

  sex  cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal target
1 male 0  132      353  0   1       132     1     1.2     1     1  3    0
2 male 3  170      288  0   0       159     0     0.2     1     0  3    0
3 male 0  140      226  0   1       178     0     0.0     2     0  2    1
4 male 2   94      227  0   1       154     1     0.0     2     1  3    1
5 male 2  126      218  1   1       134     0     2.2     1     1  1    0
6 male 0  128      216  0   0       131     1     2.2     1     3  3    0
  age
1 55
2 59
3 42
4 51
5 59
6 58

In [17]:
head(df_5)

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 female 1  134      271  0   1       162     0     0.0     1     0  2
2 male   0  128      216  0   0       131     1     2.2     1     3  3
3 male   0  126      282  0   0       156     1     0.0     2     0  3
4 male   2  150      243  1   1       137     1     1.0     1     0  2
5 female 2  108      267  0   0       167     0     0.0     2     0  2
6 male   0  110      206  0   0       108     1     0.0     1     1  2
  target age
1 1      49
2 0      58
3 0      35
4 1      61
5 1      54
6 0      54

In [18]:
#Selecting rows with highest value

top_n(df,3,chol)   #top three rows with highest cholestorol

  sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 female 2  140      417  1   0       157     0     0.8     2     1  2
2 female 2  115      564  0   0       160     0     1.6     1     0  3
3 female 0  134      409  0   0       150     1     1.9     1     2  3
  target age
1 1      65
2 1      67
3 0      56

In [19]:
#Subsetting columns using select

a<-select(df, sex,cp, exang, age)

In [20]:
df1<-select(df,-chol) #removing a column

In [21]:
#mutate to add new columns 

df2<-select(df, sex, chol, age,slope)

a<-mutate(df2, age_chol= chol/age, age_slope= slope/age, ageXchol=chol * age)

head(a)

  sex    chol age slope age_chol age_slope  ageXchol
1 male   233  63  0     3.698413 0.00000000 14679
2 male   250  37  0     6.756757 0.00000000  9250
3 female 204  41  2     4.975610 0.04878049  8364
4 male   236  56  2     4.214286 0.03571429 13216
5 female 354  57  2     6.210526 0.03508772 20178
6 male   192  57  1     3.368421 0.01754386 10944

In [22]:
#To keep these variables we can use Transmute

a<-transmute(df2, age_chol= chol/age, age_slope= slope/age, ageXchol=chol * age)

head(a)

  age_chol age_slope  ageXchol
1 3.698413 0.00000000 14679
2 6.756757 0.00000000  9250
3 4.975610 0.04878049  8364
4 4.214286 0.03571429 13216
5 6.210526 0.03508772 20178
6 3.368421 0.01754386 10944

In [23]:
#Summarizing data

summarize(df, mean_chol=mean(chol, na.rm=T))  #mean Chol in py df.describe() or df[chol].describe()

  mean_chol
1 246.264

In [24]:
summary(df$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  29.00   47.50   55.00   54.37   61.00   77.00

In [25]:
summarise(df,
  mean_age = mean(age), # mean
  min.age= min(age), # minimum
  max.age = max(age), # maximum
  med.age = median(age), # median
  sd.age = sd(age), # standard deviation
  var.age = var(age), # variance
  n.age = n(), # sample size
  se.age = sd.age / sqrt(n.age), # standard error
  IQR.age = IQR(age))

  mean_age min.age max.age med.age sd.age   var.age  n.age se.age    IQR.age
1 54.36634 29      77      55      9.082101 82.48456 303   0.5217531 13.5

In [26]:
#summarizing by groups

df_by_sex<-group_by(df, sex)

summarise(df_by_sex,
  mean_age = mean(age), # mean
  min.age= min(age), # minimum
  max.age = max(age), # maximum
  med.age = median(age), # median
  sd.age = sd(age), # standard deviation
  var.age = var(age), # variance
  n.age = n(), # sample size
  se.age = sd.age / sqrt(n.age), # standard error
  IQR.age = IQR(age))

  sex    mean_age min.age max.age med.age sd.age   var.age  n.age se.age
1 female 55.67708 34      76      57      9.409396 88.53673  96   0.9603425
2 male   53.75845 29      77      54      8.883803 78.92195 207   0.6174670
  IQR.age
1 13.25
2 12.50

In [27]:
#using piping that simplifies grouping #ctrl-shift-m

df %>% 
group_by(sex) %>% 
summarise(
  mean_age = mean(age), # mean
  min.age= min(age), # minimum
  max.age = max(age), # maximum
  med.age = median(age), # median
  sd.age = sd(age), # standard deviation
  var.age = var(age), # variance
  n.age = n(), # sample size
  se.age = sd.age / sqrt(n.age), # standard error
  IQR.age = IQR(age))

  sex    mean_age min.age max.age med.age sd.age   var.age  n.age se.age
1 female 55.67708 34      76      57      9.409396 88.53673  96   0.9603425
2 male   53.75845 29      77      54      8.883803 78.92195 207   0.6174670
  IQR.age
1 13.25
2 12.50

In [28]:
df %>% 
group_by(sex) %>% 
summarize(cholover300= mean (chol[chol>300]),maxchol= max(chol[chol>300]))  #aggregating cholestorol greater than 300

  sex    cholover300 maxchol
1 female 345.7500    564
2 male   318.4211    353

In [29]:
df %>%   #doing count
count(sex)

  sex    n
1 female  96
2 male   207

In [30]:
    #counting (sum) by group
df %>% 
count(sex, wt= age)

  sex    n
1 female  5345
2 male   11128

In [31]:
#using groups, filters, arrange  #let's find men, that have 

df %>% 
group_by(sex) %>% 
filter(sex=="male") %>% 
filter(age>=70)

  sex  cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal target
1 male 1  156      245  0   0       143     0     0.0     2     0  2    1
2 male 0  145      174  0   1       125     1     2.6     0     0  3    0
3 male 0  130      322  0   0       109     0     2.4     1     3  2    0
4 male 0  125      304  0   0       162     1     0.0     2     3  2    0
5 male 2  160      269  0   1       112     1     2.9     1     1  3    0
  age
1 70
2 70
3 70
4 77
5 70

In [32]:
a<-df %>% 
group_by(sex) %>% 
filter(sex=="male") %>% 
filter(age>=50) %>% 
filter(rank((chol))>100)

head(a)

  sex  cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal target
1 male 2  125      273  0   0       152     0     0.5     0     1  2    1
2 male 1  120      325  0   1       172     0     0.2     2     0  2    1
3 male 0  120      302  0   0       151     0     0.4     1     0  2    1
4 male 1  108      309  0   1       156     0     0.0     2     0  3    1
5 male 3  152      298  1   1       178     0     1.2     1     0  3    1
6 male 2  118      277  0   1       151     0     1.0     2     1  3    1
  age
1 54
2 52
3 66
4 54
5 52
6 68

Keep solving! Keep tRying!